apiVersion: v1
kind: Secret
metadata:
  name: securebid-secret
  namespace: securebid
  labels:
    app.kubernetes.io/name: secure-bid-platform
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  SECRET_KEY: "changeme_generate_with_openssl_rand_hex_32"
  DATABASE_URL: "postgresql+asyncpg://appuser:changeme@postgres:5432/securebid"
  POSTGRES_USER: "appuser"
  POSTGRES_PASSWORD: "changeme"
  POSTGRES_DB: "securebid"
